EXPO_PUBLIC_API_BASE_URL=https://api.sairolotech.com
EXPO_PUBLIC_SUPPORT_EMAIL=sairolotech@gmail.com
EXPO_PUBLIC_SUPPORT_PHONE=+919899925274
EXPO_PUBLIC_SUPPORT_WHATSAPP=https://wa.me/919899925274
EXPO_PUBLIC_PRIVACY_URL=https://www.sairolotech.com/privacy-policy
EXPO_PUBLIC_ACCOUNT_DELETE_URL=https://www.sairolotech.com/support
